/**
  * @Filename: background.less
*/

// ----------------------------------------------------------------------------- BACKGROUND

/* 
backgroundImage
*/

.backgroundImage (@url, @position, @type, @repeat, @attachement)
{
    background-image: url('@{url}');
    background-size: @type;              // cover | contain | (value ex: 50%)
    background-position: @position;      // center | ...
    background-repeat: @repeat;          // repeat | no-repeat |
    background-attachment: @attachement; // scroll | fixed | local | initial | inherit
}

/* 
backgroundClip
https://www.impressivewebs.com/background-clip-css3/
 */

.backgroundClip (@val) 
{
    background-clip: @val;
}

