/**
 * @Filename: transform.less
*/

// ----------------------------------------------------------------------------- TRANSFORM

/* 
 * generic transform 
*/

.transform (@transforms) 
{
    -moz-transform: @transforms;
    -o-transform: @transforms;
    -ms-transform: @transforms;
    -webkit-transform: @transforms;
    transform: @transforms;
}

/*
 * generic transform origin
*/
.transformOrigin (@origin) 
{
    moz-transform-origin: @origin;
    -o-transform-origin: @origin;
    -ms-transform-origin: @origin;
    -webkit-transform-origin: @origin;
    transform-origin: @origin;
}

/* 
* rotate
* ex: rotate(10deg);
*/ 
.rotate (@deg) 
{
    .transform(rotate(@deg));
}

/*
* scale 
* ex: scal(0, 0.5); 
*/

.scale (@x, @y) 
{
    .transform(scale(@x, @y));
}

/*
skew 
ex: .skew(0deg, 45deg); 
*/

.skew (@x, @y) 
{
    .transform(skew(@x, @y));
}

/*
translate 
ex: .translate(0, -100%); 
*/

.translate (@x, @y) 
{
    .transform(translate(@x, @y));
}

/*
transition
ex: .transition(all, 0.2s, ease-in);
*/

.transition (@type, @duration, @ease) 
{
    -webkit-transition: @type @duration @ease;
    -moz-transition: @type @duration @ease;
    -o-transition: @type @duration @ease;
    transition: @type @duration @ease;
}

/*
brightness
ex: .brightness(60);
*/

.brightness (@b) 
{
    filter: brightness(@b);
}

/*
grayscale
ex: .grayscale(100%);
*/

.grayscale (@value) 
{
    filter: grayscale(@value);
}

/*
blur lazyload effect
ex: .blur(5px);
*/

.blur (@radius) 
{
    filter: blur(@radius);
}
